/* @font-face{
    font-family: "SA";
    font-weight: 100%;
    /* src:url(../../Black.ttf)
    format('truetype'); 
} */

canvas{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: black;
    border-radius: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SA';
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: white;
}

button{
    position: absolute;
    content: "";
    z-index: 1;
}

#grayBack{
    display: none;
}

#grayBack:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.6;
    place-items: center;
    background-color: rgb(80, 80, 80);


    animation: back 1s ease-out;
}

@keyframes back{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
}


label{
    display: none;
}

#circle{
    position: absolute;
    display: none;

}#circle:after{
    position: absolute;
    content: "";
    width: 125px;
    height: 125px;
    transform: scale(1);
    top: -45px;
    left: -60px;
    border-radius: 50%;
    background-color: rgb(0, 150, 0);   
    animation:  Pong 4s;
    animation-fill-mode: forwards;




    /* animation: MoveS 2s ease-out;
    animation-delay: 1s; */
}
@keyframes Pong{
    0%{
        transform: scale(0.2);
    }
    7%{
        transform: scale(1)
    }

    50%{
        top: -45px;
        transform: scale(1);
    }
    100%{
        top: -100px;
        transform: scale(0.8)
    }
}





#circleIcon{
    position: absolute;
    display: none;
}input:checked ~ #circleIcon{
    display:  block;
}#circleIcon:after{ 
    position: absolute;
    content: "";
    height: 56px;
    width: 28px;
    top: 20px;
    left: -30px;
    transform:scaleX(-1)rotate(135deg);
    border-right: 7px solid white;
    border-top: 7px solid white;
    transform-origin: left top;
    animation: checkan 4s ease;
    animation-fill-mode: forwards;

} 

h1{
    position: absolute;
    width: 110px;
    top: 10px;
    left: -47px;
    color:white;
    opacity: 0;

    animation: opacityN 4s ease-out;
    animation-fill-mode: forwards;
}
    /* animation: opacityEnable 5s;
    animation-delay: 3s; */
/*}h1:hover{
    display: block;
    animation: opacityEnable 5s;
    animation-delay: 3s;
}*/

@keyframes checkan{
    0%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    5%{
        height: 0;
        width: 28px;
        opacity: 1;
    }
    10%{
        height: 56px;
        width: 28px;
        opacity: 1;
    }
    15%{
        height: 56px;
        width: 28px;
        opacity: 1;
    }
    50%{
        height: 56px;
        width: 28px;
        top: 20px;
        left: -30px;
        
    }
    100%{
        top: -34px;
        left: -20px;
        height: 40px;
        width: 18px;

    }
}

@keyframes opacityN{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}







/* @keyframes rotate{
    
    100%{
        transform: rotate(360deg);
    }

} */

